  

//     ion-card {
//         width: 100%;
//         padding: 30px 20px;
//         margin: 0px 0 0 0;
//         border-radius: 0;
//         background-color: #f5f5f5;
//         box-shadow: none;
//         border-bottom: 1px solid rgba(169, 169, 169, 0.0);
//     }

//     .image-profile {
//         padding: 20px 0 0 0;
//         ion-avatar {
//             width: 100px;
//             height: 100px;
//             margin: auto;
//         }
//         .circular-avatar {
//             border-radius: 50%;
//             margin: auto;
//             position: absolute;
//             display: inline-block;
//             width: 100px;
//             height: 100px;
//             background-color: transparent;
//             background-size: cover;
//             background-position: top center;
//             border-radius: 50%;
//             border-color: var(--basic-gray);
//             border-style: solid;
//             border-width: 0px;
//         }
//     }
    
//     .info-profile {
//         padding: 10px 0 0 0;
//         text-align: center;
//         .name {
//             -webkit-font-smoothing: antialiased;
//             text-rendering: optimizeLegibility;
//             text-size-adjust: none;
//             user-select: text;
//             font-family: "Roboto", "Helvetica Neue", sans-serif;
//             -webkit-box-direction: normal;
//             color: #333333;
//             font-weight: 500;
//             font-size: 17px;
//             box-sizing: border-box;
//             -webkit-tap-highlight-color: transparent;
//             display: block;
//             font-size: large;
//             font-weight: bold;
//         }
//     }
//     .online-point {
//         position: absolute;
//         width: 14px;
//         height: 14px;
//         top: calc(50% + 20px);
//         left: calc(50% + 20px);
//         border: 2px solid #fff;
//         border-radius: 50%;
//         background-color: #f44336;
//         &.online {
//             background-color: green;
//         }
//     }




.current-user-profile {
    width: 100%;
    height: 100%;
    font-family: "Poppins";
    --ion-background-color:#2d323e;
    
    .buttons-header{
        position: absolute;
        z-index: 2;
        color: white;
    }

    .content-user-profile {
        background-color: #2d323e;
        width: 100%;
        height: 230px;
        .user {
            position: relative;
            display: flex;
            text-align: center;
            width: 100%;
            height: 160px;
            min-height: 160px;
            max-height: 160px;
            display: block;
            background-color: #1e2129;
            color: #fff;
            padding-top: 40px;
        }
        .email {
            color: rgba(255,255,255,.5); 
            font-size: 13px; 
            margin-top: 5px; 
            font-weight: bold;
            line-height: 1.4em;
            margin-bottom: 15px;
        }
        .username {
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }

    .avatar-container {
        background-color: #2d323e;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 110px;
        border-radius: 50%;
        padding: 8px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        min-width: 100px;
        min-height: 100px;
        border-color: #2d323e;
        border-style: solid;
        border-width: 2px;
        line-height: 100px;
        font-size: 32px;
    }
    .user-presence{
        position: absolute;
        width: 100%;
        height: 40px;
        top: 205px;
        left: calc(50% + 20px);
    }
    //     .avatar {
    //         position: relative;
    //         border-radius: 50%;
    //         height: 100px;
    //         width: 100px;
    //         padding: 0;
    //         -webkit-transform: translateX(-50%);
    //         transform: translateX(-50%);
    //         left: 50%;
    //         display: block;
    //         margin: 0px;
    //         border-color: #2d323e;
    //         border-style: solid;
    //         border-width: 2px;
    //     }
    //     .avatar-placeholder {
    //         font-size: 26px;
    //         text-align: center;
    //         line-height: 100px;
    //         font-weight: 500;
    //     }
    //     .avatar-image {
    //         margin-top: -100%;
    //         background-color: transparent;
    //         background-size: cover;
    //         background-position: top center;
    //     }
    // }
    // .status-icon {
    //     position: absolute;
    //     width: 16px;
    //     height: 16px;
    //     bottom: 8px;
    //     border: 2px solid #2d323e;
    //     border-radius: 50%;
    //     background-color: #f44336;
    //     left: 50%;
    //     -webkit-transform: translateX(100%);
    //     transform: translateX(100%);
    //     &.online {
    //         background-color: #4caf50;
    //     }
    //     .online-point {
    //         position: absolute; 
    //         top: 0;
    //         left: 15px;  
    //         color: rgba(255,255,255,.5); 
    //         font-size: 12px;
    //     }
    // }

    .sidebar-items {
        height: 40px;
        border-radius: 0 24px 24px 0;
        margin-right: 16px;
        cursor: pointer;
        height: 100%;
        &:hover {
            --ion-background-color: #3ea9f5;
            color: #fff;
            .sidebar-icons {
                color: #fff;
            }
            .sidebar-labels {
                color: #fff;
            }
        }
    }

    .sidebar-icons {
        margin-right: 15px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        color: #a9afbb;
        font-size: 20px;
        vertical-align: middle;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }

    .sidebar-labels {
        display: block;
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #a9afbb;
        text-transform: capitalize;
    }

}
ion-footer{
    --ion-background-color: #1e2129;
    .content-chat-version {
        color: white;
        padding: 20px;
    }
    .chat-title{
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 7px 0;
    }
    .chat-version{
        font-size: 12px;
        font-weight: 400;
        margin: 0;
    }
}