<ion-header>
  <ion-toolbar>
    <ion-title>loader-preview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngFor="let file of arrayFiles; let i = index">
    <img src="{{file}}" width="60" height="60">
  </div> -->


        <div class="previewSelected" [style.height]="'calc(100% - '+heightMessageTextArea+'px)'">
          <img src="{{fileSelected}}" class="center">
        </div>
      
        
        <div class="textMessage">

          <ion-item>
            <ion-label color="primary" position="floating" floating> Aggiungi una didascalia...</ion-label>
            <!-- <ion-input clearInput></ion-input> -->
            <ion-textarea 
              #messageTextArea
              rows = "1" 
              autosize = "false"
              auto-grow = "true"
              [(ngModel)]="messageString"
              (ionInput)="onChangeTextArea($event);"
              (keyup.enter)="pressedOnKeyboard($event, messageString);" 
              >
            </ion-textarea>
          </ion-item>

        </div>

        <div class="thumbnailPreview">

          <div class="thumbnailsScroll">
            <div class="thumbnailContent">
              <div *ngFor="let file  of arrayFiles; let i = index" class="centerCropped" (click)="onSelectImage(file)">
                <img src="{{file}}">
              </div>
            </div>
          </div>

        </div>




  



</ion-content>
