.center-cropped {
    width: 50px;
    height: 50px;
    overflow:hidden;
}
.center-cropped img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}


.previewSelected{
    width: 100%;
    height: auto;
    padding: 20px;
    position: relative;
    // background-color: gainsboro;
    max-height: calc(100% - 170px);
    min-height: 160px;
    overflow: hidden;
    .center {
        margin: auto auto;
        display: block;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        position: relative;
        padding: 0px;
        text-align: center;
    }
    img {
        border-radius: 10px;
        -moz-border-radius: 10px;
    }
}

.messageTextArea{
    // background-color: grey;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: auto;
    min-height: 70px;
    max-height: 150px;
    overflow: visible;
    position: relative;
    ion-textarea {
        max-height: 100px;
        margin: 5px 0;
    }
}


.thumbnailsPreview {
    background-color: #efefef;
    padding: 20px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    bottom: 0;
    // background-color: bisque;

    // ion-content, 
    .thumbnailsScroll{
        max-width: calc(100% - 60px);
        height: 70px;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .thumbnailsContent {
        height: 50px;
        width: auto;
        max-height: 50px;
        overflow-x: visible;
        overflow-y: hidden;
        margin: auto 0;
        display: inline-flex;
        // background-color: goldenrod;
    }

    
}




.centerCropped {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    margin: auto 4px;
    img {
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        cursor: pointer;
    }
}

.sendButton {
    bottom: 52px;
}