<ion-header class="ion-no-border">
  <ion-toolbar>
  
    <!-- <ion-buttons slot="start">
      <ion-button ion-button icon-only fill="clear" (click)="onOpenContactsDirectory($event)">
        <ion-icon slot="icon-only" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  
    <ion-title>
     conversation
    </ion-title>
  
    <!-- <ion-buttons slot="end">
      <ion-button ion-button fill="clear" (click)="onClose()">
        <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
      </ion-button>
      <ion-button ion-button fill="clear" (click)="onClose()">
        <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  detail
</ion-content>
