API_BASEIMAGE_URL=CHANGEIT
DASHBOARD_URL=https://YOUR_DASHBOARD_URL
WS_URL=wss://YOUR_TILEDESK_SERVER_URL?token=
WS_URL_RELATIVE=********
SERVER_BASE_URL=http://localhost:3000/
FEATURES_TOKEN=CAR:F-PAY:F-ANA:F-ACT:F-APP:F
CHAT21_ENGINE=mqtt
UPLOAD_ENGINE=native
PUSH_ENGINE=none
FILE_UPLOAD_ACCEPT=*/*
TENANT=tilechat
LOG_LEVEL=INFO
SUPPORT_MODE=false
WRITE_TO_BUTTON=false,
ARCHIVED_BUTTON=false,

# For MQTT Chat Engine
MQTT_APPID=tilechat
MQTT_ENDPOINT=mqtt://localhost:15675/ws
MQTT_APIENDPOINT=http://localhost:8004/api
MQTT_LOGINSERVICE_ENDPOINT=http://localhost:3000/chat21/native/auth/createCustomToken
 
#For Firebase Chat Engine

#FIREBASE_APIKEY=CHANGEIT
#FIREBASE_AUTHDOMAIN=CHANGEIT.firebaseapp.com
#FIREBASE_DATABASEURL=https://CHANGEIT.firebaseio.com
#FIREBASE_PROJECT_ID=chat21-pre-01
#FIREBASE_STORAGEBUCKET=CHANGEIT.appspot.com
#FIREBASE_MESSAGINGSENDERID=********
#FIREBASE_APP_ID=CHANGEIT
#FIREBASE_VAPID=CHANGEIT

CHAT21_URL=https://CHANGEIT.cloudfunctions.net
