.base_info {
    border-radius: 14px;
    border: 1px solid #C9E4F6;
    padding-left: 4px;
    padding-right: 4px;
    padding: 6px 10px;
    display: inline-block;
    background: #C9E4F6;
    font-size: 0.70em;
    color: var(--basic-gray);
}