.status-icon {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0px;
    left: 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: #f44336;
    &.online {
        background-color: #4caf50;
    }
    
}
.online-point {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}