<!--
  Generated template for the InfoAdvancedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
    <ion-navbar color="navbarLightColor">
        <ion-buttons class="c21-buttons">
            <button class="c21-button-header c21-left" ion-button icon-only (click)="onCloseInfoPage()">
                <!-- <ion-icon name="arrow-round-back"></ion-icon> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/></svg>
            </button>
            <div class="c21-label-header c21-left">{{ 'LABEL_INFO_ADVANCED' | translate }}</div>
        </ion-buttons>
        <div class="clear"></div>
    </ion-navbar>
  </ion-header>

  <ion-content>

    <ion-card class="first-card">

      <div class="chat21-box-profile chat21-box">
        <div class="chat21-content">

          <div *ngFor="let attr of attributes">
              <div class="c21-label">{{attr.key | translate }}</div>
              <!-- <div class="lighter">
                  <span>
                      {{attr.value}}
                  </span> -->

                  <div *ngIf="attr.key !== 'projectId';then content else other_content">here is ignored</div>    
                  <ng-template #content><div class="lighter">{{ attr.value }}</div></ng-template>
                  <ng-template #other_content>
                    <div class="c21-link" (click)="openProjectHome()">
                        {{ attr.value }}
                    </div>
                  </ng-template>
              <!-- </div> -->
          </div>

        </div>
      </div>
      

                
      <!-- <div class="chat21-info">
          <div class="chat21-row">
              <div class="c21-label">{{ 'ID_CONVERSATION' | translate }}</div>
              <div class="lighter">
                  <span>
                      {{attributes.conversationId}}
                  </span>
              </div>
          </div>
      </div>
                
      <div class="chat21-status">
          <div *ngIf="channelType == TYPE_GROUP" class="chat21-row">
              <div class="c21-label">{{ 'LABEL_CREATED_THE' | translate }}</div>
              <div class="lighter">{{attributes.createdOn}}</div>
          </div>
      </div> -->


      
     

      <!-- <div *ngIf="customAttributes" class="custom-attributes-container">
          <div *ngFor="let attr of customAttributes" class="chat21-row custom-attributes">
              <div class="c21-label">{{ attr.key | translate }}</div>
              <div *ngIf="attr.key !== 'projectId';then content else other_content">here is ignored</div>    
              <ng-template #content><div class="lighter">{{ attr.value }}</div></ng-template>
              <ng-template #other_content>
                  
                  <div class="c21-link" (click)="openProjectHome()">
                      {{ attr.value }}
                  </div>

              </ng-template>
          </div>
      </div> -->
                

    </ion-card>

</ion-content>
