page-placeholder {
    
    
    .wellcome_page{
        width: 100%; height: 100%; top: 0; left: 0;
        background: url('../assets/splash.png') no-repeat center top; position: fixed; z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        // text-align: center;
        // margin-top: 10%;
        // .title{
        //     font-size: 2.2em;
        //     color:#333333;
        //     font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
        //     padding: 30px;
        // }
        // .logo{
        //     font-size: 2em;
        //     color: #00709a;
        // }
        
        // img{
        //     border-radius: 50%;
        // }
    }
    
    

    
}
