page-placeholder {
     
    .wellcome_page{
        width: 100vw;
        height: 100vh; 
        top: 0; 
        left: 0;
        background: url('../assets/splash.png');
         //no-repeat center center; 
        position: fixed; 
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        z-index: 0;
        //-webkit-background-size: auto;
        //-moz-background-size: auto;
        //-o-background-size: auto;
        //background-size: auto; //cover
    }
    
}
