page-placeholder {
     
    .wellcome_page{
        width: 100%; height: 100%; top: 0; left: 0;
        background: url('../assets/splash.png') no-repeat center top; position: fixed; z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
}
