<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/chat21-logo.svg" alt="{{this.tenant}}">
      <sub class="build_version" stacked ion-text color="default">{{BUILD_VERSION}}</sub>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openUsersList($event)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openArchivedConversationsPage($event)">
        <ion-icon class="material-icons">history</ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>
    <span *ngIf="conversations.length > 0;then contentConversations else contentMessageWelcome">here is ignored</span>

    <ng-template #contentConversations>
      <ion-item no-lines ion-item [class.selected]="conversation.uid === uidConvSelected" *ngFor="let conversation of conversations"
        (click)="openMessageList(conversation.uid)">
        <ion-avatar item-start>
          <div class="chat21-avatar" [style.background-image]="'url(' + conversation.image + ')'"></div>
          <!-- <img src="{{conversation.image}}" alt="user" onError="this.src='assets/img/no_image.png';"> -->
        </ion-avatar>
        <h2 class="truncate">{{conversation.conversation_with_fullname}}</h2>
        <p [class.not-read]="conversation.is_new" class="truncate" [innerHTML]="convertMessage(conversation.last_message_text)"></p>


        <!-- <span *ngIf="conversation.status == 1;then content else other_content">here is ignored</span>
        <ng-template #content>
          <p *ngIf="!conversation.last_message_text" class="truncate read">{{ LABEL_IMAGE | translate }}</p>
          <p *ngIf="conversation.last_message_text" class="truncate not-read" [innerHTML]="conversation.last_message_text"></p>
        </ng-template>
        <ng-template #other_content>
          <p *ngIf="!conversation.last_message_text" class="truncate read">{{ LABEL_IMAGE | translate }}</p>
          <p *ngIf="conversation.last_message_text" class="truncate read" [innerHTML]="conversation.last_message_text"></p>
        </ng-template> -->

        <ion-note item-end>{{conversation.time_last_message}}</ion-note>
        <button id="{{ 'close_conversation_button' + conversation.uid }}" class="close-conversation-button" ion-button clear item-end (click)="closeConversation(conversation);$event.stopPropagation();" padding>
          <ion-icon class="close-conversation-button-icon" style="display:block;" id="{{ 'close_button_icon' + conversation.uid }}" color="close-conversation" name="close" item-end></ion-icon>
          <!-- source: https://ionicframework.com/docs/v1/api/directive/ionSpinner/ -->
          <ion-spinner class="close-conversation-button-icon" style="display:none"  id="{{ 'close_button_loading' + conversation.uid }}" icon="spiral"></ion-spinner>
        </button>
      </ion-item>
    </ng-template>

    <ng-template #contentMessageWelcome>
      <div [class.active]="!loadingIsActive()" class="chat21-spinner" id="chat21-spinner">
        <div class="chat21-bounce1"></div>
        <div class="chat21-bounce2"></div>
        <div class="chat21-bounce3"></div>
        <span>loading</span>
      </div>
      <div *ngIf="loadingIsActive()" id="content_message_wellcome">
        <!-- [style.display]="styleMessageWelcome === true ? 'inline' : 'none'" -->
        <div class="messaggio">{{ 'LABEL_MSG_PUSH_START_CHAT' | translate }}</div>
        <div class="pulsanti">
          <button ion-button icon-start color="273e53" (click)="openUsersList($event)">
            {{ 'LABEL_MSG_START_CHAT' | translate }}
          </button>
        </div>
      </div>
    </ng-template>

  </ion-list>
</ion-content>




<!--<ion-content padding>
  <ion-searchbar (input)="search($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let conversazione of conversations | async" (click)="goToDetails(conversazione)">
      <ion-avatar item-start>
        <img src= {{conversazione.image}} alt="user" onError="this.src='assets/img/no_image.svg';">
      </ion-avatar>
      <h2>{{conversazione.convers_with_fullname}}</h2>
      <span *ngIf="conversazione.status == 1;then content else other_content">here is ignored</span>
      <ng-template #content><p style="font-weight: bold;">{{conversazione.last_message_text}}</p></ng-template>
      <ng-template #other_content><p>{{conversazione.last_message_text}}</p></ng-template>
      <ion-note item-end class="date-right">{{getTimeLastMessage(conversazione.timestamp)}}</ion-note>
   </button>
  </ion-list>

</ion-content>-->