page-lista-conversazioni {
    .not-read {
        font-weight:bold!important;
        font-size: 13px!important;
        // color: #555!important;
    }

    .bar-button-default-md,
    .bar-button-default-ios {
        color:#424242;
    }
    .bar-button-default-ios {
        color:#424242;
    }
    ion-title{
        img{
            height: 30px;
        }
    }
    .list-avatar-page {
        ion-note {
            font-size: 12px;
            align-self: flex-start;
            margin-top: 14px;
        }
    }
    .styleMessageWelcome{
        display: inline;
    }
    #content_message_wellcome{
        .messaggio{
            padding: 20px;
            font-size: x-large;
            color: #273e53;
            text-align: center;
        }
        .pulsanti{
            text-align: center;
        }
    }
    .build_version{
        position: absolute;
        font-size: xx-small;
        line-height: 0;
        vertical-align: baseline;
        left: 20px;
        bottom: 0px;
    }
    

    .list-md .item.item-block.item-md,
    .list-ios .item.item-block.item-ios {
        border-bottom: rgba(0, 0, 0, 0.1);
        border-bottom-width: thin;
        border-bottom-style: solid!important;
    }
    .list{
        margin: 0 0 16px;
        .item-block {
            border-width: 0;
            display: flex;
            align-items: center;
            margin: 0px;
            padding: 8px 9px;
            background-color: #ffffff;
            

            ion-avatar{
                position: relative;
                padding:0;
                margin:0;
                height: 54px;
                width: 54px;
                line-height: 54px;
                .avatar-placeholder{
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 20px;
                    color:#ffffff;
                    font-weight: 500;
                }
                .chat21-avatar{
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border-color: #c3c3c3;
                    border-style: solid;
                    border-width: 0px;
                    background-color: transparent;
                }
                // img {
                //     background-color: #eeeeee;
                //     display: inline-block;
                //     width: 100%;
                //     height: 100%;
                //     border-radius: 50%;
                //     border-color: #c3c3c3;
                //     border-style: solid;
                //     border-width: 1px;
                // }
            }
            .label {
                &.label-md,
                &.label-ios {
                    margin: 0;
                }
                max-width: calc( 100% - 25px);
                h2 {
                    color: #222;
                    font-weight: 700;
                    white-space: nowrap;
                    margin: 0px 0 0 0;
                    font-size: 1.6rem;
                }
                p {
                    color: grey;
                    white-space: nowrap;
                    font-size: 1.5rem;
                }
            }

            .item-inner{
                padding: 0 0px 0 10px;
                margin: 0;
                width: auto;
                .input-wrapper{
                    width: auto;
                    margin: 0px;
                    padding: 0px;
                    position: relative;
                }
                .note{
                    font-size: 10px;
                    color: #b3b3b3;
                    position: absolute;
                    right: 0;
                    margin: 0px 10px 0 0;
                    text-align: right;
                    padding: 0;
                    width: auto;
                }

               .close-conversation-button {
                    padding: 0px 10px;
                    margin: 0;
                    height: 100%;
                    font-size: 24px;
                    // font-size: x-large;
                    ion-icon {
                        padding:0;
                        margin: 10px 0 0 0;
                    }
                    &.button-ios{
                        // font-size: xx-large;
                        font-size: 36px;
                    }
                }
                
            }
        }

        .item-block.selected{
            color:#ffffff;
            background-color: #0b5c89;
            // border-bottom: rgba(0, 0, 0, 0.10);
            // border-bottom-width: thin;
            // border-bottom-style: solid;
            .close-conversation-button {
                ion-icon {
                    color: white;
                }
            }
            .label{
                h2{
                    color:#ffffff;
                }
                p{
                    color:#ffffff;
                }
            }
            .note {
                color:#cccccc;
            }
        }
    }

    // .date-right{
    //     text-align: right;
    //     color: #333333;
    //     align-self: flex-start;
    //     padding: 6px;
    // }
    
    
    
    

   


}
