page-profile {
    .speaker-detail img {
        //max-width: 20vw;
        width: 12vw; /* 20% of the viewport width */
        height: 12vw;
        border-radius: 50%;
        // width: 140px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .speaker-detail p {
        color: #60646B;
    }
    .icon_modify{
        position: relative;
        bottom: 25px;
        right: -70px;
        color: #424242;
        font-size: 1em;
        padding: 0px;
        box-shadow: none;
        background-color: transparent;
        margin: 0px;
    }
    .uid-contact{
        color: #424242;
        user-select: text;
        font-size: smaller;
        text-align: center;
        margin-top: 0px;
    }
    .fullname{
        font-size: 1em;
    }
    .email{
        font-size: 0.8em;
    }

    .clip-circle {
        clip-path: circle(60px at center);
        /* OLD VALUE example: circle(245px, 140px, 50px); */
        /* Yep, even the new clip-path has deprecated stuff. */
      }
}
