page-info-message {
    font-size: 10px;
    ion-content {
        background: #ffffff!important;
    }
    .c21-buttons {
        padding: 0;
        width: 100%;
        display: inline-block;
    }
    .c21-label-header {
        line-height: 32px;
        font-size: 1.5em;
        font-weight: 500;
        color: map-get($colors, c21-dark);
        padding: 0 10px;
    }
    .c21-button-header{
        color: map-get($colors, c21-gray);
    } 


    .chat21-right-box{
        height: auto;
    }
    .chat21-box-message{
        background-color: white;
    }
    .chat21-box {
        font-size: 10px;
        font-weight: 400;
    }
    .chat21-header {
        font-size: 1.4em;
    }
    .c21-key-label{
        color:map-get($colors, c21-gray);
        font-size: 1.1em;
    }
    .c21-content-label{
        color:map-get($colors, c21-dark);
        font-size: 1.1em;
    }
    .scroll-content{
        margin-top: 56px;
    }
    .card-md {
        width: 100%;
        margin: 0 0 10px 0;
        border-radius: 0px;
        border-top: 0.2px solid rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2);
        box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2);
    }

    /*********/
    .item-inner{
        border-bottom: 0px solid #dedede!important;
    }

    .itemMessage{
        padding: 0px;
    }

    .info-message-content{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .chat21-box-message {
        // background-image: url('../assets/chat21-ionic-pattern-2.svg');
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-color: #ffffff;
    }

    .chat21-right-box {
        // background-color: #ffffff;
        height: calc(100% - 60px);
    }

    .chat21-box {
        min-height: 40px;
    }
    .chat21-content {
        // height: auto;
        padding-top: 10px;
    }

    .chat21-content .lighter{
        font-weight: lighter;
    }
    .chat21-image {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .chat21-image > img {
        clip-path: circle(100px at center);
        width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-left: calc((100% - 200px)/2);
        border: 0;
    }

    .message-mine.message-content-image {
        float: right;
    }
    .message-other.message-content-image {
        float: left;
    }

    .chat21-info {
        margin: 0px 10px 4px 10px;
    }
    .chat21-content .chat21-name {
        font-size: 1.2em;
        color: #333333;
        font-weight: normal;
    }
    .chat21-content .chat21-status {
        font-size: 1.2em;
        color: #999999;
        font-weight: normal;
    }
    .chat21-info span {
        display: block;
    }
    .chat21-conf .icon_modify{
        position: relative;
        color: #424242;
        font-size: 1em;
        padding: 0px;
        box-shadow: none;
        background-color: transparent;
        margin: 0px;
        top: 10px;
    }

    .chat21-uid {
        font-size: 1em;
        color: #666666;
        font-weight: normal;
        padding: 0px 10px 10px 10px;
    }
    .chat21-uid span {
        display: block;
    }
    .chat21-uid .email {
        font-size: 1.2em;
        color: #333333;
        font-weight: normal;
    }
    

    .chat21-conf {
        // background-color: red;
        // width: 20px;
        height: 100%;
        float: right;
    }

    .chat21-box .chat21-header {
        padding: 10px 10px 10px 10px;
        color: #777777;
    }

    .chat21-box .chat21-row {
        font-size: 1.2em;
        color: #333333;
        font-weight: normal;
        padding: 0px 10px 10px 10px;
    }


    .break-line {
        border-bottom-style: inset;
        border-color: rgba(0, 0, 0, .15);
        border-bottom-width: thin;
    }
    
    .speaker-detail img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .speaker-detail p {
        color: #60646B;
    }
    
    .uid-contact{
        color: #424242;
        user-select: text;
        font-size: 1em;
        // text-align: center;
        margin-top: 0px;
    }
    .fullname{
        font-size: 1em;
    }
    .email{
        font-size: 1em;
    }

    .clip-circle {
        clip-path: circle(60px at center);
        /* OLD VALUE example: circle(245px, 140px, 50px); */
        /* Yep, even the new clip-path has deprecated stuff. */
    }
}
