page-resetpwd {
    ion-title {
        text-align: center;
    }
    .scroll-content{
        margin-top: 16px!important;
    }
    h2 {
        text-align: center;
        margin: 10px;
    }
    form {
        margin-bottom: 20px;
        button {
        margin-top: 20px !important;
        }
        p {
        font-style: italic;
        color: red;
        }
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }

    .item-block{
        min-height: auto;
    }

    .item-md {
        font-size: 1.3rem;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{
        border-bottom: 0px!important;
    }
    .item-md.item-input .item-inner{
        border-bottom: 0px!important;
    }

    .div-error-message {
        min-height: 30px;
        .error-message {
        max-height: 24px;
        }
        .item-inner {
        border-bottom: 0 !important;
        }
        .item-md p {
        font-size: 1.1rem;
        }
    }

    .sample-modal-page {
        background: rgba(0,0,0,0.0);
        height: 100%;
        padding: 46px;

        .scroll-content{
            margin-top: 36px!important;
            padding: 56px 26px 26px 26px !important;
        }
    }
    
    .content-page {
        background: #FFFFFF;
        padding: 20px;
        margin: 0px;
        height: 100%;
        text-align: -webkit-center;

        .item-input ion-input, .item-input ion-textarea {
            background-color: rgba(204, 204, 204, 0.5);
        }
        .item-md.item-block .item-inner {
            padding-right: 0px;
        }
        .text-input{
            padding: 0px 10px 0px 10px;
        }
        button{
            max-width: 50%;
            background-color: #FFFFFF !important;
            height: 34px;
            margin-bottom: 15px;
            border-radius: 8px;
            font-size: small;
            color:rgb(39, 62, 83);
        }
        button.full{
            max-width: 50%;
            background-color: rgb(39, 62, 83) !important;
            height: 34px;
            margin-bottom: 15px;
            border-radius: 8px;
            font-size: small;
            color:#FFFFFF;
        }
    }
}


