// @import '../../../../sass/variables';

.message_innerhtml {
    margin: 0px;
    // padding: 0px 14px;
    &.marked{
        padding:8px;
        margin-block-start: -1em!important;
        margin-block-end: -1em!important;
    }
}

p {
    font-size: 0.9em;
    margin: 0;
    padding: 14px;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: 300;
    overflow: hidden;
}


