page-dettaglio-conversazione {
    .halfscreen {
        width: calc(100% - 320px);
    }
   

        ion-navbar {
            .headerUserName{
                font-size: 12px;
                color: #111111;
                text-align: center;
                // cursor: pointer;
                margin-left: -40px;
            }
            .headerLastActivity{
                font-size: 10px;
                color: #999999;
                text-align: center;
            }
        }    
        
        .label-md {
            margin: 0px 4px 0px 4px;
        }
        .label-ios {
            margin: 0px 4px 0px 4px;
        }
        .card-md {
            width: 100%;
        }
        .left{
            text-align: left;
        }
        .right{
            text-align: right;
        }
        .headerDay{
            background-color: #FFFFFF;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;
            vertical-align: middle;
            border-radius: 10px;
            font-size: 14px;
            font-weight: bold;
            color: #666666;
        }
        .rowDay{
            //padding: 0,10,0,10;
            text-align: center;
        }
        
        .item-block{
            min-height: auto!important;
            margin-bottom: 4px;
        }
        .itemMessage {
            height: 100%;
            .item-inner{
                padding-right: 0px!important;
                height: 100%;
    
                .input-wrapper{
                    height: 100%;
    
                    .label{
                        height: 100%;
                    }
                }
            }
        }
        // <ion-content class="messagesView">
        
    
        .messagesView {
            height: 100%;
            background-image: url('../assets/chat21-ionic-pattern-2.svg');
            .messageFirst{
                text-align: center;
                font-size: 1.4em;
                line-height: 1.6em;
                margin-top: calc(50% - 1.6em);
            }
          }
        //status mine message
        .statusMessage{
            float: right;
            margin-top: 5px;
            height: 100%;
            width: 15px;
            ion-icon{
                font-size: 1.8em;
                color: #0b5c89;
                position: absolute;
                bottom: 0px;
            }
            // margin-top: calc(h parent);
        }
          
        // single message 
        .message{
            display: inline-block;
            position: relative;
            // max-width: 45vh;
            // max-width: 100%;
            border-radius: 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
            font-size: 14px;
    
            &.message-mine {
                float: right;
                background-color: #0b5c89;
                color: white;
                margin-right: 4px;
            
                &::before {
                    right: -4px;
                }
                .message-timestamp {
                    color: #FFFFFF;
                    font-size: 10px;
                    padding: 0px 0px 0px 0px;
                    margin-bottom: -3px;
                }
                a{
                    color: aliceblue;
                }
            }
            &.message-other {
                float: none;
                background-color: #d2d2d2;
                color: black;
                // margin-left: 11px;
                &::before {
                    left: -11px;
                    //background-image: url(/assets/message-other.png);
                }
                .message-timestamp {
                    color: #666666;
                    padding: 0px 0px 0px 0px;
                    // display: inline-block;
                    margin-bottom: -3px;
                }
                a{
                    color: #0b5c89;
                }
            }

            .message-timestamp.image{
                // background-color: #ffffff;
            }

            &.message-other::before, &.message-mine::before {
                content: "";
                position: absolute;
                bottom: 3px;
                width: 12px;
                height: 19px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .message-content {
                -webkit-user-select: text;
                -moz-user-select: text;
                -ms-user-select: text;
                user-select: text;
                max-width: 450px;
                padding: 5px 7px;
                word-wrap: break-word;
                &::after {
                    content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
                    display: inline;
                }
            }
            .message-timestamp {
                position: absolute;
                bottom: 2px;
                right: 7px;
                font-size: 12px;
            }

            .message-content-image{
                border-radius: 8px 8px 4px 4px;
                padding: 0px;
                margin: 2px 2px 10px 2px;
            }

            
        }
        
        // single message <ng-template #contentMine>
        .contentMine{
            background-color: #0b5c89;
            color: white;
            padding: 8px;
            border-radius: 12px;
            vertical-align: middle;
            max-width: 80%;
        }
        .contentOther{
            background-color: white;
            color: black;
            padding: 8px;
            border-radius: 12px;
            vertical-align: middle;
            max-width: 80%;
        }
     
        // footer <ion-toolbar class="messages-page-footer"
        #messages-page-footer{
            min-height: 40px;
            max-height: 200px;
            height: auto;
            // width: calc(100% - 40px);
            
            ion-buttons left {
                bottom: 0px;
                position: absolute;
            }
            .toolbar-content-md{
                height: 100%;
                // width: calc(100% - 40px);
            }
            .message-editor-button {
                font-size: 1.4em;
                position: absolute;
                bottom: 2px;
                padding: 0px;
                height: 30px;
    
                &.right{
                    font-size: 2em;
                }
                &.inactive{
                    color:rgba(11, 92, 137, 0.30)
                }
                &.active{
                    color: #0b5c89;
                }
            }

            .chat21-icon {
                font-size: 1.4em;
                
                &.inactive{
                    color:rgba(11, 92, 137, 0.30)
                }
                &.active{
                    color: #0b5c89;
                }
            }
    
           
            ion-textarea {
                border-radius: 4px;
                padding-top: 5px;
                padding-bottom: 4px;
                padding-left: 4px;
                padding-right: 4px;
                //padding: 1px;
                background: #ffffff;
                //height: 28px;
                //left: 0px;
                //right: 0px;
                //width: 100%;//calc(100% - 40px);
                min-height: 28px;
                max-height: 184px;
                
                .text-input-ios{
                    margin:0px;
                }
                .text-input-md {
                    margin:0px;
                    //background-color: yellowgreen;
                    height: 100%;
                    line-height: 24px;
                    resize: none;
                }
            }
            ion-col {
                &[col-2] {
                flex: 0 0 auto;
                max-width: 30px;
                padding: 0px;
                }
                &[col-auto] {
                    // -webkit-flex: 0 0 auto;
                    // -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
                    width: calc(100% - 60px);
                }
                .text_message{
                    margin-right: 10px;
                }
                .button_send{
                    float: right;
                }
            }
            
        }
    
        
        .list{
            background-color: transparent !important;
        }
        .item{
          background-color: transparent !important; ;
          border: 0  !important;
        }
        .item-content{
            background-color: transparent !important ;
        }
    
        ion-footer {
            //--footer-height: 300px;
        }

        .message_sender_fullname{
            margin-top: 10px;
            font-size: 0.8em;
            color: #666;
        }
        


        // css button load
        .chat21-textarea-button {
            width: 20px;
            height: 20px;
            position: absolute;
            /* right: 10px; */
            bottom: 10px;
            display: none;
        }
        
        .chat21-textarea-button.active {
            display: block;
        }
        #chat21-start-upload-img {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 16px;
            background-image : url("../assets/img/f21ico-photo.svg");
            /* background-color: #999999; */
            right: 4px;
        }
        
        #chat21-start-upload-doc {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 16px;
            background-image : url("../assets/img/f21ico-attached.svg");
            /* background-color: #999999; */
            right: 24px;
        }

        #chat21-info-conversation {
            position: absolute;
            height: 0px;
            width: 0px;
            display: none;
        }
        #chat21-info-conversation.open {
            position: absolute;
            height: 100%;
            width: 320px;
            z-index: 9;
            right: 0px;
            top: 59px;
            border-left-style: inset;
            border-color: rgba(0, 0, 0, .15);
            border-left-width: thin;
            display: inline;
        }


    }