page-dettaglio-conversazione {
    .halfscreen {
        width: calc(100% - 320px);
    }
   
    .c21-point {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        line-height: 10px;
        margin-right: 5px;
    }

        ion-navbar {
            .headerUserName{
                font-size: 12px;
                color: #111111;
                text-align: center;
                // cursor: pointer;
                margin-left: -5px;
                width: calc(100% - 0px);
                &.infoOpen{
                    width: calc(100% - 250px);
                    margin-left: -35px;
                }
            }
            
            .headerLastActivity{
                font-size: 10px;
                color: #999999;
                text-align: center;
            }
        }    
        
        .label-md {
            margin: 0px 4px 0px 4px;
        }
        .label-ios {
            margin: 0px 4px 0px 4px;
        }
        .card-md {
            margin: 0px 0px 10px 10px;
            width: calc(100% - 20px);
        }
        .left{
            text-align: left;
        }
        .right{
            text-align: right;
        }
        .headerDay{
            background-color: #FFFFFF;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;
            vertical-align: middle;
            border-radius: 10px;
            font-size: 14px;
            font-weight: bold;
            color: #666666;
        }
        .rowDay{
            //padding: 0,10,0,10;
            text-align: center;
        }
        
        .item-block{
            // min-height: auto!important;
            min-height: 30px!important;
            margin-bottom: 10px;
            padding-bottom: 15px;
        }
        .itemMessage {
            height: 100%;
            .item-inner{
                padding-right: 0px!important;
                height: 100%;
    
                .input-wrapper{
                    height: 100%;
                    margin-right: 20px;
                    .label{
                        height: 100%;
                    }
                }
            }
        }
        // <ion-content class="messagesView">
        
    
        .messagesView {
            height: 100%;
            border-width: 0px;
            // background-image: url('../assets/chat21-ionic-pattern-2.svg');
            .messageFirst{
                text-align: center;
                font-size: 1.2em;
                line-height: 1.6em;
                margin-top: calc(50% - 1.6em);
            }
          }
        //status mine message
        .statusMessage{
            float: right;
            margin-top: 5px;
            margin-right: -20px;
            height: 100%;
            width: 15px;
            ion-icon{
                font-size: 1.8em;
                color: #0b5c89;
                position: absolute;
                bottom: 0px;
            }
            // margin-top: calc(h parent);
        }
          
        // single message 
        .message-timestamp {
            color: #666666;
            padding: 0px 4px 0px 0px;
            font-size: x-small;
            position: absolute;
            bottom: -4px;
        }
        .message-timestamp.right {
            text-align: right;
            right: 24px;
        }
        .message{
            display: inline-block;
            position: relative;
            border-radius: 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
            font-size: 14px;

            // min-width: 38px;
            // min-height: 31px;
    
            img{
                cursor: pointer;
                background-color: #ffffff;
            }

            &.message-mine {
                float: right;
                background-color: #0b5c89;
                color: white;
                margin-right: 4px;
            
                &::before {
                    right: -4px;
                }
                .message-timestamp {
                    color: #FFFFFF;
                    font-size: 10px;
                    padding: 0px 0px 0px 0px;
                    margin-bottom: -3px;
                }
                a{
                    color: aliceblue;
                }
            }
            &.message-other {
                float: none;
                //background-color: #d2d2d2;
                background-color: #f0f0f0;
                color: black;
                // margin-left: 11px;
                &::before {
                    left: -11px;
                    //background-image: url(/assets/message-other.png);
                }
                .message-timestamp {
                    color: #666666;
                    padding: 0px 0px 0px 0px;
                    // display: inline-block;
                    margin-bottom: -3px;
                }
                a{
                    color: #0b5c89;
                }
            }


            &.message-other::before, &.message-mine::before {
                content: "";
                position: absolute;
                bottom: 3px;
                width: 12px;
                height: 19px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .message-content {
                -webkit-user-select: text;
                -moz-user-select: text;
                -ms-user-select: text;
                user-select: text;
                max-width: 450px;
                padding: 5px 7px;
                word-wrap: break-word;
                &::after {
                    content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
                    display: inline;
                }
            }
            .message-timestamp {
                position: absolute;
                bottom: 2px;
                right: 7px;
                font-size: 12px;
            }

            .message-content-image{
                border-radius: 8px 8px 4px 4px;
                padding: 0px;
                margin: 0px 0px 0px 0px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }            
        }

        .info-support-container {
            text-align: center;
        }


        .message-content-info-support {
            border-radius: 8px;
            border: 1px solid  #C9E4F6;
            padding-left: 4px;
            padding-right: 4px;
            display: inline-block;
            background: #C9E4F6;
            font-size: 0.85em;
            // color: #fff;
        }
        
        // single message <ng-template #contentMine>
        .contentMine{
            background-color: #0b5c89;
            color: white;
            padding: 8px;
            border-radius: 12px;
            vertical-align: middle;
            max-width: 80%;
        }
        .contentOther{
            background-color: white;
            color: black;
            padding: 8px;
            border-radius: 12px;
            vertical-align: middle;
            max-width: 80%;
        }
     
        // footer <ion-toolbar class="messages-page-footer"
        #messages-page-footer{
            min-height: 40px;
            max-height: 200px;
            height: auto;
            // width: calc(100% - 40px);
            
            ion-buttons left {
                bottom: 0px;
                position: absolute;
            }
            .toolbar-content-md{
                height: 100%;
                // width: calc(100% - 40px);
            }
            .message-editor-button {
                font-size: 0.8em;
                position: absolute;
                bottom: 2px;
                padding: 0px;
                height: 30px;
    
                &.right{
                    font-size: 0.8em;
                }
                &.inactive{
                    color:rgba(11, 92, 137, 0.30)
                }
                &.active{
                    color: #0b5c89;
                }
            }
            .message-editor-button:hover {
                background-color: rgba(158, 158, 158, 0.0);
            }


            .chat21-icon {
                font-size: 1.4em;
                
                &.inactive{
                    color:rgba(11, 92, 137, 0.30)
                }
                &.active{
                    color: #0b5c89;
                }
            }
    
           
            ion-textarea {
                border-radius: 4px;
                padding-top: 5px;
                padding-bottom: 4px;
                padding-left: 4px;
                padding-right: 4px;
                //padding: 1px;
                background: #ffffff;
                //height: 28px;
                //left: 0px;
                //right: 0px;
                //width: 100%;//calc(100% - 40px);
                min-height: 28px;
                max-height: 184px;
                
                .text-input-ios{
                    margin:0px;
                }
                .text-input-md {
                    margin:0px;
                    //background-color: yellowgreen;
                    height: 100%;
                    line-height: 24px;
                    resize: none;
                }
            }
            ion-col {
                &[col-2] {
                flex: 0 0 auto;
                max-width: 30px;
                padding: 0px;
                }
                &[col-auto] {
                    // -webkit-flex: 0 0 auto;
                    // -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
                    width: calc(100% - 60px);
                }
                .text_message{
                    margin-right: 10px;
                }
                .button_send{
                    float: right;
                }
            }
            
        }
    
        
        .list{
            background-color: transparent !important;
        }
        .item{
          background-color: transparent !important; ;
          border: 0  !important;
        }
        .item-content{
            background-color: transparent !important ;
        }
    
        ion-footer {
            //--footer-height: 300px;
        }

        .message_sender_fullname{
            margin-top: 10px;
            font-size: 0.8em;
            color: #666;
        }
        


        // css button load
        .chat21-textarea-button {
            width: 20px;
            height: 20px;
            position: absolute;
            /* right: 10px; */
            bottom: 10px;
            display: none;
        }
        
        .chat21-textarea-button.active {
            display: block;
        }
        #chat21-start-upload-img {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 16px;
            background-image : url("../assets/img/f21ico-photo.svg");
            /* background-color: #999999; */
            right: 4px;
        }
        
        #chat21-start-upload-doc {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 16px;
            background-image : url("../assets/img/f21ico-attached.svg");
            /* background-color: #999999; */
            right: 24px;
        }

        #chat21-info-conversation {
            position: absolute;
            height: 0px;
            width: 0px;
            display: none;
        }
        
        #chat21-info-conversation.open {
            position: absolute;
            height: 100%;
            width: 100%;
            max-width: 320px;
            z-index: 100;
            right: 0px;
            top: 0px;
            border-left-style: inset;
            border-color: map-get($colors, c21-gray-10);
            border-left-width: thin;
            display: inline;
        }

        #chat21-info-user,
        #chat21-info-advanced {
            position: absolute;
            height: 100%;
            width: 0px;
            display: none;
            opacity: 0;
            &.open {
                width: 100%;
                max-width: 320px;
                z-index: 100;
                right: 0px;
                top: 0px;
                display: block;
            }
            &.modal-page{
                border-left-style: inset;
                border-color: map-get($colors, c21-gray-10);
                border-left-width: thin;
                opacity: 1;
                transition: all 0.4s 0.1s;
            }
        }
        
        

        
        #chat21-info-message {
            position: absolute;
            height: 0px;
            width: 0px;
            display: none;
        }
        #chat21-info-message.open {
            position: absolute;
            height: 100%;
            width: 320px;
            z-index: 100;
            right: 0px;
            top: 0px;
            border-left-style: inset;
            border-color: map-get($colors, c21-gray-10);
            border-left-width: thin;
            display: inline;
        }




        .buttonInfo {
            position: absolute;
            top: 0px;
            right: 4px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 18px;
            background-image : url("../assets/img/ic_keyboard_arrow_down_white_24px.svg");
            width: 16px;
            height: 16px;
            display: none;
            cursor: pointer;
        }

        .message-other .buttonInfo {
            background-image : url("../assets/img/ic_keyboard_arrow_down_black_24px.svg");
        }

        .message:hover .buttonInfo { 
            display: block;
        }



        // BEGIN PANNELLO LATERALE
        #btn-panel-info:disabled,
        #btn-panel-info[disabled]{
            color: #424242;
            opacity: 100;
            font-size: 16px;
        }

        #panel-info {
            border-left: 1px solid #dedede;
            height: 52px;
            margin-right: 230px;
            padding-top: 10px;
        }

         #btn-panel-info {
            padding-top: -10px;
        }
        // END PANNELLO LATERALE

        #chat21-buttonToBottom {
            position: relative;
            margin-right: 10px;
            margin-top: -40px;
            float: right;    
            background-color:#ffffff;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            z-index: 999999;
            cursor: pointer;
            background-image: url("../assets/img/c21-down-gray.svg");
            border: 1px solid #eee;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
        }

        #chat21-buttonToBottom:hover {
            background-color:#eee;
        }

        #chat21-divBudge{
            width: auto;
            height: 14px;
            border-radius: 10px;
            background-color: red;
            font-size: 12px;
            color: white;
            padding: 0px 2px 1px 2px;
            text-align: center;
            float: left;
            margin-top: -10px;
            min-width: 14px;
            line-height: 14px;
        }
        

    @media (max-width: 451px) {
        #chat21-info-conversation.open {
            max-width: 100%;
        }
        #chat21-info-user,
        #chat21-info-advanced{
            .open {
                max-width: 100%;
            }
        }
    }    







  #canned  {   
    background: rgba(237,240,244,.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .canned-list {
    position: absolute;
    bottom: 0;
    background-color: white!important;
    width: 100%;
    max-height: 310px;
    overflow-y: auto;
    padding: 10px 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #080f1a;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    z-index: 999999;
  }

  .canned-item {
    -webkit-tap-highlight-color: transparent;
    font-family: Lato,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    list-style: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0 10px;
    position: relative;
    outline: none;
    color: #434a54;
    padding: 10px;
    width: auto;
    cursor: pointer;
    .item-inner{
        border: none!important;
    }
  }
  
  .canned-item:hover {
    background-color: #eaf1fd!important;
    border-radius: 4px;
  }

  .cannedContent {
      width: 100%;
  }
  .cannedText {
    text-align: left; 
    font-size: 12px; 
    display: block;
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 0px solid #000000;
  }
  .cannedTitle {
    text-align: left; 
    display: block;
  }
  
}