<!--
  Generated template for the DettaglioConversazionePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- {{this.conversation.convers_with}} -->
  <ion-navbar >
    <ion-title>
      <div class="headerUserName" *ngIf="userRecipient;" (click)="goToUserDetail(userRecipient.uid)">{{userRecipient.fullname?userRecipient.fullname:''}}
      <span *ngIf="online; then userActive else userInactive"></span>
      <ng-template #userActive>
        <div class="headerLastActivity">attivo/a ora</div>
      </ng-template>
      <ng-template #userInactive>
        <div class="headerLastActivity">{{lastConnectionDate}}</div>
      </ng-template>
    </div>
    </ion-title>
    <!--this.conversationId-->
  </ion-navbar>

</ion-header>

<ion-content class="messagesView">
  <span *ngIf="messages.length > 0;then content_messages else content_message_welcome">here is ignored</span>
  <ng-template #content_messages>
    <ion-list no-lines>
      <div *ngFor="let message of messages"> <!-- ; let last = last -->
        <!-- aggiungo header data invio messaggio -->
        <div *ngIf = "message && message.headerDate && message.headerDate != ''">
          <ion-item text-wrap>
            <div class="rowDay">
              <span class="headerDay">{{message.headerDate}}</span>
            </div>
          </ion-item>
        </div>
        <ion-item class="itemMessage" text-wrap>
          <span *ngIf="isSender(message); then contentMine else contentOther"></span>
          <ng-template #contentMine>
            <div class="statusMessage">
              <ion-icon *ngIf="message.status==0" name="ios-clock-outline"></ion-icon>
              <ion-icon *ngIf="message.status==1" name="ios-checkmark-circle-outline"></ion-icon>
              <ion-icon *ngIf="message.status==2" name="ios-checkmark-circle"></ion-icon>
            </div>
            <div class="message message-mine">
              <div class="message-content message-content-text" [innerHTML]="message.text">
              </div>
              <div class="message-timestamp">{{message.timestamp | date: 'H:mm'}}</div>
            </div>
          </ng-template>
          <ng-template #contentOther>
            <div class="message message-other">
              <div class="message-content message-content-text" [innerHTML]="message.text">
                {{message.text}}
              </div>
              <span class="message-timestamp">{{message.timestamp | date: 'H:mm'}}</span>
            </div>
          </ng-template>
        </ion-item>
      </div>
    </ion-list>
  </ng-template>

  <ng-template #content_message_welcome>
     <div class="messageFirst" [style.display]="style_message_welcome === true ? '' : 'none'">
      Ancora nessun messaggio qui...
    </div>
  </ng-template>
  
</ion-content>


<ion-footer>
  <ion-toolbar>

    <ion-grid>
      <ion-row #messagesPageFooter id="messages-page-footer">

        <ion-col col-2 col-bottom>
          <button ion-button clear class="message-editor-button active">
            <ion-icon name="add-circle" isActive="true" ></ion-icon>
          </button>
        </ion-col>

        <ion-col col-auto>
          <div class="text_message">
          <ion-textarea autosize #messageTextArea id="messageTextArea" [(ngModel)]="messageString" placeholder="Enter a message" rows="1"
            ng-bind-html="messageString" (keyup.enter)="pressedOnKeyboard($event, messageString);" autofocus></ion-textarea>
          <!-- <ion-textarea autosize [(ngModel)]="messageString" placeholder="Enter a message" ng-bind-html="messageString" (keyup.enter)="pressedOnKeyboard($event, messageString)"></ion-textarea> (keyup)="resize()" -->
          </div>
          <div class="button_send">
          <button ion-button clear *ngIf="messageString && messageString.trim()!=''" class="message-editor-button right active" (focus)="doScroll()" (click)="sendMessage(messageString)">
              <ion-icon name="send" isActive="true" ></ion-icon>
            </button>
            <button ion-button clear *ngIf="!messageString || messageString.trim()==''" class="message-editor-button right inactive">
              <ion-icon name="send" isActive="false" ></ion-icon>
          </button>
        </div>
        </ion-col>

        <!-- <ion-col col-2 col-bottom>
          <button ion-button clear *ngIf="messageString && messageString.trim()!=''" class="message-editor-button right active" (focus)="doScroll()" (click)="sendMessage(messageString)">
            <ion-icon name="send" isActive="true" ></ion-icon>
          </button>
          <button ion-button clear *ngIf="!messageString || messageString.trim()==''" class="message-editor-button right inactive">
            <ion-icon name="send" isActive="false" ></ion-icon>
          </button>
        </ion-col> -->

      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-footer>
<!-- <ion-footer>
  
  <ion-toolbar color="whatsapp" class="messages-page-footer" position="bottom">
    <!-- <ion-input [(ngModel)]="messageString"  class="message-editor" placeholder="Type a message"></ion-input> -->
<!-- <ion-buttons left> 
        <button left ion-button class="message-editor-button active" (focus)="scrollBottom()" (click)="sendMessage(messageString)">
          <ion-icon name="add-circle" isActive="true" ></ion-icon>
        </button>
    <!-- </ion-buttons> 
    <ion-textarea [(ngModel)]="messageString" placeholder="Enter a description"></ion-textarea>
    
    <!-- <ion-buttons right> 
      <button right ion-button *ngIf="messageString" class="message-editor-button active" (focus)="scrollBottom()" (click)="sendMessage(messageString)">
        <ion-icon name="send" isActive="true" ></ion-icon>
      </button>
      <button ion-button *ngIf="!messageString" class="message-editor-button inactive">
        <ion-icon name="send" isActive="false" ></ion-icon>
      </button>
    <!-- </ion-buttons> 
  </ion-toolbar>

</ion-footer> -->