// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



// Ionic 'Split Pane' styles need to be tweaked to
// get this 'master-detail' example to work!
.split-pane-side:not(ion-menu) {
    display: initial;
}

.split-pane-main {
    display: none;
    // position: absolute!important;
}

.split-pane-visible {
    .split-pane-main {
        display: block;
    }
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
ion-backdrop{  
    display: block;
    background-color: #000000!important;
    width: 100%;
    height: 100%;
    opacity: 0.5!important;
}

ion-app, ion-nav, ion-tab, ion-tabs, .app-root, .ion-page {
    contain: none!important;
}