<ion-app>
  <div>
   
    <app-image-viewer></app-image-viewer>

    <div class="sidebar">
      <app-sidebar></app-sidebar>
   </div>
    <ion-split-pane when="md" contentId="main">

      <ion-nav #sidebarNav [root]="sidebarPage"></ion-nav>
      <!--  our side menu  -->
      <!-- <ion-router-outlet id="sidebar" name='sidebar' animated="false" #masterNav> -->
      <!-- <app-conversations-list></app-conversations-list> -->
      <!-- <app-details></app-details> -->
      <!-- </ion-router-outlet> -->
      <!-- the main content -->
      <ion-router-outlet id="main" #detailNav animated="false">
      </ion-router-outlet>
    </ion-split-pane>
  </div>
</ion-app>

<!-- 
<ion-app>
  <ion-split-pane when="md" disabled="{{disableSplit}}" contentId="detailNav" #splitpane>
    <ion-router-outlet swipeBackEnabled="false" contentId="detailNav" id="masterNav" #masterNav></ion-router-outlet>
    <ion-router-outlet name="detailNav" id="detailNav" #detailNav (activate)="onRouterActivate()"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->