<!--<ion-split-pane>

 <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
  <ion-menu [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Pages</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>-->



<ion-header *ngIf="isNavBar">
  <ion-navbar text-right>
      <a style = "padding: 8px" href="#" onclick="window.open('http://support.chat21.org/dashboard/', '_system');">pannello</a>
      <!-- <button float-right ion-button icon-end (click)="window.open('http://support.chat21.org/dashboard/', '_blank');">
        <ion-icon name="star"></ion-icon>
      </button> -->
    <!-- <ion-title>Page1</ion-title> -->
    <!-- <iframe src="http://support.chat21.org/dashboard/" width="100%" height="40px" ></iframe> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <div (click)="hideAlert()">
    <ion-split-pane (ionChange)="navProxy.onSplitPaneChanged($event._visible);">
        <ion-nav [root]="masterPage" #masterNav></ion-nav>
        <ion-nav [root]="detailPage" #detailNav main></ion-nav>
    </ion-split-pane>

    <div [ngClass]="notificationsEnabled?'':'animated'" class="c21-alert alert-danger fadeInDown c21-alert-notification">
      <span class="notifications" data-notify="icon">
        <i class="fa fa-exclamation-circle" style="font-size: 20px;"></i>  
        <span class="title">
          {{ 'ALERT_NOTIFICATION' | translate }} 
        </span> 
      </span> 
    </div>
  </div>


</ion-content>