// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
    user-select: text;
}


// Ionic 'Split Pane' styles need to be tweaked to
// get this 'master-detail' example to work!
.split-pane-side:not(ion-menu) {
    display: initial;
}

.split-pane-main {
    display: none;
    // position: absolute!important;
}

.split-pane-visible {
    .split-pane-main {
        display: block;
    }
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  

ion-backdrop{  
    display: block;
    background-color: #000000!important;
    width: 100%;
    height: 100%;
    opacity: 0.5!important;
}

ion-app, ion-nav, ion-tab, ion-tabs, .app-root, .ion-page {
    contain: none!important;
}

.chat21-avatar {
    background-color: #eeeeee;
    display: inline-block;
    width: 54px;
    height: 54px;
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: top center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    border-color: #c3c3c3;
    border-style: solid;
    border-width: 1px;
}
.chat21-avatar.big{
    width: 200px;
    height: 200px;
}

/* LOADING */
/*http://tobiasahlin.com/spinkit/*/
#chat21-spinner {
    min-height: 20px;
    display: none;
    margin: 20px auto 0;
    width: 70px;
    text-align: center;
}
#chat21-spinner.active {
    display: block;
}
#chat21-spinner > div {
    width: 12px;
    height: 12px;
    background-color: #2a69c1;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
#chat21-spinner .chat21-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
#chat21-spinner .chat21-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
#chat21-spinner span {
    display: block;
    margin: 0.5em 0 0 0;
    color: #2a6ac1;
    /* text-transform: uppercase; */
    font-family: 'Roboto', sans-serif;
    -webkit-animation: pulse 2000ms linear infinite;
    -moz-animation: pulse 2000ms linear infinite;
    animation: pulse 2000ms linear infinite;
    text-align: center;
  }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
    } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    }
}


.c21-right{
    float: right;
}
.c21-left{
    float: left;
}
.clearfix:after {
    display: block;
    clear: both;
    content: '';
}
.clear{
    clear: both;
}

/* END LOADIN */

.c21-alert {
    &.c21-alert-notification {
        display: inline-block;
        margin: 0 auto;
        position: fixed;
        -webkit-transition: all .5s ease-in-out 0s;
        transition: all .5s ease-in-out 0s;
        z-index: 1031;
        top: -100px;
        left: 0px;
        right: 0px;
        max-width: 450px;
        width: 80%;
        padding: 10px;
        cursor: pointer;
        display: block;
    }
    &.alert-danger {
        background-color: #f55a4e;
        color: #fff;
        border-radius: 3px;
        -webkit-box-shadow: 0 12px 20px -10px rgba(244,67,54,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(244,67,54,.2);
        box-shadow: 0 12px 20px -10px rgba(244,67,54,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(244,67,54,.2);
    }
    &.animated {
        top: 10px;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
}

// .modal-page {
//     z-index: 1;
//     background-color: transparent;
//     opacity: 0;
//     transition: all 0.2s;
//     right: -100%;
//     &.open {
//         // background-color: $trasp-black;
//         opacity: 1;
//         transition: all 0.3s;
//         right: 0px;
//     }
// }


