.split-pane-md.split-pane-visible > .split-pane-side {
    min-width: 312px;
    display: block; // Safari bug fix
}

.sidebar-visible {
    margin-left: 60px;
}

.sidebar-hidden {
    margin-left: 0px;
}

.hide-sidebar {
    display: none;
}

.router-outlet-margin-left {
    left: 60px
}

// @media (min-width: 768px) {
//     .split-pane-md.split-pane-visible > .split-pane-side {
//         min-width: 312px;
//         display: block; // Safari bug fix
//     }
// }
