<component-login
  [showSpinnerInLoginBtn] = showSpinnerInLoginBtn
  [translationMap] = translationMap
  [companyLogoBlackUrl]= companyLogoBlackUrl
  [companyName]= companyName
  (eventSignInWithEmailAndPassword)="returnSignInWithEmailAndPassword($event)"
  >
</component-login>

<div data-notify="container" class="col-xs-12 col-sm-8 alert alert-danger animated fadeInDown" style="text-align: center; color: rgb(66, 77, 87); font-size: 15px; font-weight: 600; display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; bottom: 20px; left: 0px; right: 0px;" role="alert" data-notify-position="bottom-center"><button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">×</button><span data-notify="icon" style="display: inline;"><i style="vertical-align: middle; padding-right: 5px; color: #fff;" class="material-icons">report_problem</i> </span> <span data-notify="message" style="display: inline; vertical-align: middle; color:#fff ">Authentication failed. Wrong password.</span></div>