::ng-deep .custom-mat-tooltip {
  background-color: #2d323e  !important;
  font-size: 12px  !important;
  border-radius: 2px !important;
  font-family: 'Poppins' !important;
}

.sidebar-is-busy-icon {
  font-size: 14px;
  color: #feb92c;
  background-color: #2d323e;
  border-radius: 50%;
}

// #sidebar_wrapper::-webkit-scrollbar {
//   width: 6px;
// }
// #sidebar_wrapper::-webkit-scrollbar-track {
//   background-color: #1c2b45;
// }
// #sidebar_wrapper::-webkit-scrollbar-thumb {
//   background-color: #3c485b;
//   border-radius: 3px;
// }