<!--
  Generated template for the InfoUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-border>
  <ion-navbar color="navbarLightColor">
      <ion-buttons class="c21-buttons">
          <button class="c21-button-header c21-left" ion-button icon-only (click)="onCloseInfoPage()">
              <!-- <ion-icon name="arrow-round-back"></ion-icon> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21v-2z"/></svg>
          </button>
          <div class="c21-label-header c21-left">User info</div>
      </ion-buttons>
      <div class="clear"></div>
  </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="member">
        <ion-card class="first-card">
            <div class="chat21-box-profile chat21-box">
                <div class="chat21-content">
                    <div class="chat21-image">
                        <ion-avatar item-start>
                            <div #avatarPlaceholder class="avatar-placeholder" [style.background-color]="member.color" [innerHTML]="member.avatar"></div>
                            <div #avatarImage *ngIf="member.image" class="chat21-avatar" [style.background-image]="'url(' + member.image + ')'"></div>
                        </ion-avatar>
                    </div>
                    <!-- <div class="chat21-image">
                        <img class="clip-circle" src="{{member.imageurl}}" alt="user" onError="src='assets/img/no_image.png';">
                    </div> -->

                    <div class="chat21-info">

                        <div class="chat21-name">
                            <span class="c21-point" [ngStyle]="{ 'background-color':(member.online)?'#24d066':'#db4437' }">&nbsp;</span>
                            <span *ngIf="member.fullname" class="truncate2 read2">{{member.fullname}}</span>
                            <span *ngIf="!member.fullname && member.decoded.name" class="truncate2 read2">{{member.decoded.name}}</span>
                        </div>

                        <div class="chat21-status">
                          <span *ngIf="member.online" class="truncate read c21-label-connection">{{ 'LABEL_ACTIVE_NOW' | translate }}</span>
                          <span *ngIf="!member.online" class="read c21-label-connection">{{lastConnectionDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card>

        <ion-card>
                
            <div class="chat21-box-info chat21-box">
                <div class="chat21-header">{{ 'LABEL_INFO_ATTRIBUTE' | translate }}</div>
                <div class="chat21-content">
                    <div class="c21-row">
                        <span class="c21-label">uid: </span>
                        <span class="truncate read c21-uid">{{member.uid}}</span>
                    </div>
                   
                    
                        <div *ngFor="let item of decoded" >
                            {{item.key}}:{{item.val}}
                            <!-- convertMessageAndUrlify(message.text) convertMessageAndUrlify -->
                            
                        </div> 
                
                    
                    <!-- <div *ngIf="member.email" class="c21-row">
                            <span class="c21-label">{{ 'LABEL_EMAIL' | translate }}</span>
                            <span *ngIf="!profileYourself" class="">
                                <a [href]="'mailto:' + member.email + '?Subject='">
                                    {{member.email}}
                                </a>
                            </span>
                        </div>
                    <div *ngIf="member.decoded.name" class="chat21-row">
                        <span class="c21-label">{{ 'LABEL_NAME' | translate }}</span>
                        <span class="lighter">{{member.decoded.name}}</span>
                    </div>
                    <div *ngIf="member.decoded.email" class="chat21-row">
                        <span class="c21-label">{{ 'LABEL_EMAIL' | translate }}</span>
                        <span class="lighter">
                            <a [href]="'mailto:' + member.decoded.email + '?Subject='">
                                {{member.decoded.email}}
                            </a>
                        </span>
                    </div>
                    <div *ngIf="member.decoded.external_id" class="chat21-row">
                        <span class="c21-label">{{ 'LABEL_EXTERNAL_ID' | translate }}:</span>
                        <span class="lighter">{{member.decoded.external_id}}</span>
                    </div>
                    <div *ngIf="member.decoded.iat" class="chat21-row">
                        <span class="c21-label">{{ 'LABEL_IAT' | translate }}:</span>
                        <span class="lighter">{{member.decoded.iat}}</span>
                    </div> -->
                    
                    <div class="chat21-conf">
                        <button *ngIf="profileYourself" class="icon_modify" icon-only (click)="presentPopover($event)">
                            <ion-icon name="create"></ion-icon>
                        </button>
                    </div>
                    
                </div>
            </div>
    
        </ion-card>

      </div>

</ion-content>
