
:host .conversation_message span ::ng-deep > a {
    pointer-events: none;
    img {
        display: none;
        // max-width: 36% !important;
        // vertical-align: bottom;
    }      
}
ion-item {
    cursor: pointer;
    height: 70px;
    --min-height: 70px;
    position: relative;
    display: flex;
    text-decoration: none;
    // padding-left: 8px;
    // padding-right: 8px;
    --padding-start: 0;
    --inner-padding-end: 0;
    --background-hover: #000000 !important;
    .selected {
        // border-radius: 10px;
        // padding-left: 8px;
        // padding-right: 8px;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        // background-color: rgba(0, 0, 0, .05);
        background-color: rgb(231, 241, 255);
    }
    ion-avatar {
        position: relative;
        padding: 0;
        margin: 0 12px 0 8px;
        height: 50px;
        width: 50px;
        min-width: 50px;
        min-height: 50px;
        line-height: 50px;
        .avatar-placeholder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            text-align: center;
            font-size: 20px;
            color: #ffffff;
            font-weight: 500;
        }
        .avatar-profile {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            background-color: transparent;
            background-size: cover;
            background-position: top center;
            border-radius: 50%;
            border-color: #c3c3c3;
            border-style: solid;
            border-width: 0px;
        }
    }
    ion-label {
        flex: 1 1 0px;
        justify-content: center;
        min-width: 0;
        padding: 0;
        font-family: Helvetica, Helvetica, Arial, sans-serif;
        line-height: 1.28;
        text-rendering: optimizeLegibility;
        .conversation_with {
            color: rgba(0, 0, 0, 1);
            font-size: 15px;
            font-weight: 400;
            line-height: 1.4;
        }
        .conversation_message {
            p {
                color: rgba(153, 153, 153, 1);
                font-size: 13px;
                font-weight: 400;
                height: 18px;
                vertical-align: middle;
                &.not-read {
                    font-weight: 600;
                    color: #1876f2;
                }
            }

            span {
                color: rgba(153, 153, 153, 1);
                font-size: 13px;
                font-weight: 400;
                height: 18px;
                &.not-read {
                    font-weight: 600;
                    color: #1876f2;
                }
            }
        }
    }
    ion-note {
        position: absolute;
        right: 8px;
        top: 4px;
        font-size: 10px;
    }
    ion-buttons {
        margin: 0;
        ion-button {
            padding: 0;
            margin: 0;
            height: 24px;
            width: 24px;
            font-size: 10px;
            --padding-start: 0px;
            --padding-end: 0px;
            color: rgba(153, 153, 153, 1);
            background-color: transparent;
            border-radius: 50%; // nk
            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .notification_point {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(22, 92, 238);
        position: absolute;
        right: 6px;
        bottom: 8px;
    }

    .notification_point-on-desktop {
        bottom: 29px !important;
    }
    .notification_point-on-mobile {
        bottom: 29px !important;
        right: 8px;
    }
}

// ion-item {
//     --background-hover: #000000 !important;
// }

.hide {
    display: none;
}

ion-item:hover {
    ion-buttons {
        ion-button {
            display: block;
        }
    }
}

.button-on-desktop {
    background-color: #fff !important;
    margin-right: 21px !important;
    height: 35px !important;
    width: 35px !important;
    border: 1px solid #eee;
    ion-icon {
        font-size: 21px !important;
    }
}

.button-on-mobile {
    margin-right: 31px !important; 
}

.truncate-on-desktop {
    width: 88% !important
}

.achived-icon-wpr {
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 12px;
}

.icon-image-before-msg-wpr {
    float: left;
    margin-right: 3px;
}
.icon-image-before-msg {
    vertical-align: middle;
    color: #999999;
    padding-right: 3px;
}

.icon-attach-before-msg {
    transform: rotate(45deg);
    font-size: 16px;
    padding-right: 0px;
    vertical-align: middle;
    color: #999999;
}

.ion-selected {
    --background: rgb(231, 241, 255);
}

.time-in-archived {
    color: #666666;
    font-size: 10px;
    position: relative;
    top: -4px;
}


.waiting-for-connection {
    --background:  #fdd764;
}

// -------------------------------
// Spinner
// -------------------------------
.sk-fading-circle {
    // margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }