:root {
    /* Color palette */
    --white: #ffffff;
    --black: #000000;
    --transparent: rgba(255, 255, 255, 0);

    --basic-green: #0A7D41;
    --dark-green: #005f3b;
    --light-green: #8cc841;
    
    --light-gray: #F2F2F2;
    --basic-gray: #666666;
    --dark-gray: #363636;
    

    --light-blue: #C9E4F6;
    --basic-blue: #2a69c1;
    --bobble-blue: rgb(0, 153, 255);

    --basic-yellow: #FFC627;
    --basic-red: #EB1E23;

    --bck-msg-sent: #62a8ea;
    --col-msg-sent:#ffffff;
    --light-white: #f7f7f7;
    --black: #1a1a1a;
    --gray: #aaaaaa;

    
  }