
<!-- <ion-header>
  <ion-navbar>
    <ion-title>popover</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
</ion-content> -->

<ion-list *ngIf="type===TYPE_POPUP_LIST_CONVERSATIONS">
  <!--<ion-list-header>Ionic</ion-list-header>-->
  <button ion-item (click)="goToProfilePage()">Profilo</button>
  <button ion-item (click)="openArchivedConversationsPage()">Archiviate</button>
  <!-- <button ion-item (click)="close()">Impostazioni</button> -->
  <button ion-item (click)="logOut()">Disconnetti</button>
  
</ion-list>
<ion-list *ngIf="type===TYPE_POPUP_DETAIL_MESSAGE">
    <!--<ion-list-header>Ionic</ion-list-header>-->
    <button ion-item (click)="goToInfoMessage()">Info messaggio</button>
    <!-- <button ion-item >Rispondi</button>
    <button ion-item >Inoltra</button>
    <button ion-item >Messaggio importante</button>
    <button ion-item >Elimina</button> -->
  </ion-list>
