page-login {
  h2 {
    text-align: center;
    margin: 10px;
  }
  form {
    margin-bottom: 20px;
    button {
      margin-top: 20px !important;
    }
    p {
      font-style: italic;
      color: red;
    }
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  .sample-modal-page {
    padding: 40px;
    background: rgba(0,0,0,0.5);
    height: 100%;
  }
  .content-page {
    background: #FFFFFF;
    padding: 40px;
    margin: 0px;
    height: 100%;
  }
}

