<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Register</h2>
  
  <form [formGroup]="registerForm" (submit)="createAccount()" novalidate>
    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input #username formControlName="username" type="text" (change)="elementChanged(username)"
        placeholder="Your username"
        [class.invalid]="!registerForm.controls.username.valid && (usernameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.username.valid  && (usernameChanged || submitAttempt)">
      <p>Please enter a valid username.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Your email address"
        [class.invalid]="!registerForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Your password"
        [class.invalid]="!registerForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input #name formControlName="name" type="text" (change)="elementChanged(name)"
        placeholder="Your Name"
        [class.invalid]="!registerForm.controls.name.valid && (nameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.name.valid  && (nameChanged || submitAttempt)">
      <p>Your name can't empty.</p>
    </ion-item>
    <ion-item>
        <ion-label stacked>Lastname</ion-label>
        <ion-input #lastname formControlName="lastname" type="text" (change)="elementChanged(lastname)"
          placeholder="Your lastname"
          [class.invalid]="!registerForm.controls.lastname.valid && (lastnameChanged || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!registerForm.controls.lastname.valid  && (lastnameChanged || submitAttempt)">
        <p>Your lastname can't empty.</p>
      </ion-item>

    <button ion-button block type="submit">
      Register
    </button>
  </form>
</ion-content>
