<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrazione</ion-title>
    <ion-buttons left>
        <button ion-button icon-only (click)="goBack()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding class="sample-modal-page">
  <div class="content-page">
  <!-- <h2>Registrazione</h2> -->
  
  <form [formGroup]="registerForm" (submit)="createAccount()" novalidate>
    <!-- <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input #username formControlName="username" type="text" (change)="elementChanged(username)"
        placeholder="Your username"
        [class.invalid]="!registerForm.controls.username.valid && (usernameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.username.valid  && (usernameChanged || submitAttempt)">
      <p>Please enter a valid username.</p>
    </ion-item> -->

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Il tuo indirizzo email"
        [class.invalid]="!registerForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <div class="div-error-message">
    <ion-item class="error-message" *ngIf="!registerForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Inserisci un indirizzo email valido.</p>
    </ion-item>
    </div>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="La tua password"
        [class.invalid]="!registerForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <div class="div-error-message">
    <ion-item class="error-message" *ngIf="!registerForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>La password deve essere di almeno 6 caratteri.</p>
    </ion-item>
    </div>

    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input #firstname formControlName="firstname" type="text" (change)="elementChanged(firstname)"
        placeholder="Il tuo Nome"
        [class.invalid]="!registerForm.controls.firstname.valid && (nameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <div class="div-error-message">
    <ion-item class="error-message" *ngIf="!registerForm.controls.firstname.valid  && (nameChanged || submitAttempt)">
      <p>Il campo nome non può essere vuoto.</p>
    </ion-item>
    </div>
    <ion-item>
        <ion-label stacked>Cognome</ion-label>
        <ion-input #lastname formControlName="lastname" type="text" (change)="elementChanged(lastname)"
          placeholder="Il tuo cognome"
          [class.invalid]="!registerForm.controls.lastname.valid && (lastnameChanged || submitAttempt)"></ion-input>
      </ion-item>
      <div class="div-error-message">
      <ion-item class="error-message" *ngIf="!registerForm.controls.lastname.valid  && (lastnameChanged || submitAttempt)">
        <p>Il campo cognome non può essere vuoto.</p>
      </ion-item>
      </div>
    <button ion-button block class="full" type="submit">
      Registrati
    </button>
  </form>
  </div>
</ion-content>
